.logos{
    width: 40px;
    height: 40px;
    
}
.logos:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.apps{
    padding: 0;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    

}
.contact{
    color:black;
    background-color: rgb(175, 175, 175);
    margin: 0;
    text-align: center;
}
.contact ul {
    display:inline-flex;
    
    list-style: none;
    margin:auto;
    padding: 0;
}
.contact h1{
    margin: 0;
}
.proyectos{
    display: flex;
    margin-left: -40px;
    margin-bottom: 0;
}
.proyectos a:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.proyectos a{
    margin: 10px auto;
    text-decoration: none;
    background-color: rgb(74, 143, 9);
    width: 20vw;
    height: 20vh;
    border-radius: 8px;
    
}
.menu{
    background-color: rgb(194, 173, 51);
    margin-top: 50px;
    border-radius: 8px;

    }
.menu_title{
    font-size: 22px;
    margin: 0;
}
.card{
    background-color: rgb(194, 89, 51);
    text-align: center;
    margin: auto;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 0;
}

body{
    background-color: #ffffff;
    font-family: sans-serif;
    color: white;
    margin: 0;
}
.card_title{
    padding-top: 10px;
    font-size: 22px;
    margin: 0;
}
.card_description{
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px ;
    margin:0;
}
.card_content{
    font-size: 9px;
    text-align: justify;
    padding: 10px 20px;
    padding-bottom: 0;
    margin-bottom: 0px;
}
.card_img{
    width: 200px;
    border-radius: 50%;

}